<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>{{ .Title }}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 img { max-width: 100%; height: auto; }
 pre { max-width: 100%; height: auto; white-space: pre-wrap }
 .navi-parent {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: .5em;
   font-style: italic;
 }
 .navi-parent href {
   flex-grow: 1;
 }
}
</style>
<!--<meta name="description" content="{{ .Description }}">-->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
